input {
width: 500px;
height: 28px;
 background-color: transparent;
  border-radius: 10px;
}
div {
    background :linear-gradient(purple, magenta, blue );
    border-radius: 10px;
    border-style: ridge;
    border-color : white;
    border-width: 8px;
    height: 200px;
    width: 350px;
    padding: 10px;
    float: none;
    text-align: left;
}
#divi {
  width: 500px;
height: 28px;
 background-color: transparent;
  border-radius: 10px;
}